// import entire bootstrap framework for simplicity
// normally we'd only import the bits we actually need
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Georgia, Serif;
}

.fullheight {
  min-height: 100%;
}

.bar {
  fill: blue;
  stroke: black;
}

.axis path,
.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}
